footer{
  background-image: url('../img/RESOURCE/Main/bg_meun_bar.png');
  height: 80px;
  margin-top: 2rem;
  background-size: cover;
  display: flex;
  align-items: center;
}
footer .footer-icon{
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 2rem;
  margin-right: 0.5rem;
}
footer .footer-icon img{
  width: 30px;
  height: auto;
  cursor: pointer;
}
footer .footer-logo{
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 0.3rem;
}
footer .footer-logo img{
  height: 17px;
  width:auto;
  cursor: pointer;
}
footer .null-box{
  flex:1;
}
